* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.modal {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  backdrop-filter: blur(4px);
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

ul {
  padding-left: 0;
  list-style-type: none;
}

#appbar {
  justify-content: flex-end;
  background-color: #3c3a39;
  height: 92px;
  color: #fff;
  position: relative;
}

a,
a:hover,
a:visited {
  color: inherit;
  text-decoration: inherit;
}

#toolbar {
  margin: 0 7%;
  height: 40px;
  align-items: center;
  justify-content: space-between;
}

nav li {
  display: none;
}

.sm-view {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #3c3a39;
  color: #fff;
  z-index: 1;
  font-family: 'Inter', sans-serif;
}

.sm-view img {
  position: absolute;
  top: 3rem;
  right: 2rem;
}

.sm-view ul {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1.5rem;
  align-items: flex-start;
  transform: translateY(25%);
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2.2rem;
  height: 300px;
}

.sm-view li {
  display: flex;
  border-bottom: 2px solid #fff;
  padding-bottom: 15px;
  padding-left: 20px;
  border-color: #6f6c6b;
  width: calc(100% - 20px);
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
}

#hamburger-icon {
  cursor: pointer;
}

.dark-section {
  box-sizing: border-box;
  justify-content: center;
  align-items: flex-start;
  padding: 120px 24px;
}

#headline {
  min-height: 590px;
  background-image: url(./images/Illustration.png);
  background-position: right 224px;
  background-repeat: no-repeat;
  background-color: #1c1a19;
}

#header-logo {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
}

.main-header {
  font-family: 'Crete Round', sans-serif;
  font-weight: normal;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  margin: 0;
  transition: font-size 2s, line-height 2s;
}

.main-header:hover {
  font-size: 112px;
  line-height: 140px;
  white-space: nowrap;
}

#animation {
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-top: 100%;
    height: 300%;
  }

  to {
    margin-top: 0%;
    height: 100%;
  }
}

#sub-main-header {
  height: 27px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 24px;
  color: #fff5e1;
  margin: 12px 0;
  white-space: nowrap;
}

.main-paragraph {
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  margin: 0;
}

.social-links {
  width: 200px;
  height: 40px;
  justify-content: space-around;
  align-items: center;
  padding-top: 12px;
}

#works {
  width: 87.2%;
  margin: auto;
  padding: 120px 0;
}

#works-title {
  font-family: 'Crete Round', sans-serif;
  font-weight: normal;
  font-size: 40px;
  line-height: 52px;
  margin-bottom: 30px;
  color: #091e42;
}

hr {
  width: 100%;
  margin: 0;
  color: #212121;
}

#hr-desk {
  display: none;
}

.work-popup {
  position: fixed;
  top: 30px;
  left: 0;
  width: 80%;
  margin: auto 5%;
  background-color: #fff;
  padding: 16px 5%;
}

.work-popup h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  height: 86px;
}

.work-popup li {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #3c3a39;
  padding: 10px 12px;
  border: 1px solid #8993a4;
  margin-right: 12px;
  margin-bottom: 15px;
}

.work-popup img {
  width: 100%;
}

.work-popup p {
  font-family: 'Inter', sans-serif;
  font-size: 2vh;
  line-height: 3vh;
  color: #344563;
  margin-top: 24px;
  margin-bottom: 16px;
}

#close-popup {
  position: absolute;
  top: 26px;
  right: 10px;
  width: 18px;
  aspect-ratio: 1 / 1;
  padding: 6px;
  cursor: pointer;
}

#outer-div {
  justify-content: space-between;
}

#inner-div {
  justify-content: space-between;
}

#popup-buttons {
  height: 48px;
  justify-content: space-between;
  align-items: center;
}

#popup-buttons img {
  width: 24px;
  height: 24px;
  margin-left: 12px;
}

#multipost {
  margin-top: 80px;
  color: #091e42;
}

#multipost img {
  width: 100%;
  background-color: #f2883f;
  padding: 10px 0;
}

#multipost-text {
  align-items: flex-start;
}

.skills-type h3 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
}

#multipost h3 {
  font-family: 'Crete Round', sans-serif;
  font-weight: normal;
  font-size: 32px;
  line-height: 44px;
  margin-top: 24px;
  margin-bottom: 12px;
}

#multipost p {
  font-family: 'Inter', sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

.skills-list li {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  color: #fff;
  margin: 16px;
}

.sm-view li:last-child {
  display: none;
}

#multipost li {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  padding: 10px 12px;
  border: 1px solid #8993a4;
  margin: 12px 12px 12px 0;
}

button {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
  background-color: #ff6b00;
  padding: 12px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #fff5e1;
  border: 1px solid #f55800;
  padding: 11px;
  color: #f55800;
}

button:active {
  background: #e05304;
  color: #fff;
}

button:disabled {
  background-color: #f4f1f0;
  color: #5b5957;
}

#popup-buttons button {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

#works-grid {
  display: grid;
  grid-template-columns: auto;
  margin-top: 24px;
  grid-row-gap: 24px;
}

#works-grid article {
  background-image: url(./images/pap-data.png);
  height: 386px;
  justify-content: flex-end;
}

#works-grid h3 {
  font-family: 'Crete Round', sans-serif;
  font-weight: normal;
  font-size: 32px;
  line-height: 44px;
  color: rgb(255, 255, 255);
  padding-left: 16px;
  margin-top: 50px;
}

#works-grid p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  padding: 4px 20px 0 16px;
}

#works-grid ul {
  padding-left: 16px;
}

#works-grid li {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  padding: 10px 12px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  margin: 8px 12px 22px 0;
}

#about-me {
  background-color: #1c1a19;
  background-image: url(./images/Frame.png);
  background-position: right 384px;
  background-repeat: no-repeat;
}

#about-me-main {
  height: 563px;
  margin-bottom: 89px;
}

#about-me-main p {
  padding: 27px 0;
  font-family: 'Inter', sans-serif;
}

#about-me-skills {
  height: 1249px;
  justify-content: center;
}

.skills-type {
  align-items: center;
  justify-content: center;
  margin: 28px;
}

.skills-list {
  align-items: center;
}

#about-me-skills img {
  margin: 0 8px;
}

#contact-form {
  min-height: 848px;
  justify-content: center;
  padding: 0 24px;
}

#contact-form p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #172b4d;
}

input,
textarea {
  border: none;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
}

input {
  padding: 14px;
}

textarea {
  background-color: #fbf8f7;
  margin-top: 24px;
  margin-bottom: 24px;
  padding: 12px;
}

#contact-form button {
  align-self: center;
}

footer {
  align-items: center;
}

#footer-line {
  width: 134px;
  height: 5px;
  background-color: #0d151e;
  border-radius: 10px;
  margin: 20px 0;
}

.error {
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  color: red;
}

@media only screen and (min-width: 600px) {
  #works-grid {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 24px;
    grid-row-gap: 37px;
  }
}

@media only screen and (min-width: 1024px) {
  body {
    width: auto;
  }

  #hamburger-icon {
    display: none;
  }

  #header-logo {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    line-height: 20px;
    margin: 0 10px;
  }

  #appbar {
    justify-content: center;
    height: 72px;
  }

  #toolbar {
    justify-content: space-between;
    width: 80%;
    margin: 0 10%;
    padding-left: 0;
  }

  nav {
    width: 30%;
  }

  nav ul {
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  nav li {
    display: block;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    margin: 0 10px;
  }

  #headline {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 798px;
    background-image: url(./images/Illustration-desktop.png);
    background-position: right -70px;
  }

  .dark-section {
    padding-left: 0;
  }

  #headline-texts {
    width: 40%;
    order: 2;
  }

  #headline ul {
    flex-direction: column;
    align-items: flex-start;
    height: 200px;
    width: 7%;
    margin-left: 3%;
  }

  .main-header {
    font-size: 72px;
    line-height: 81px;
    margin: 24px 0;
  }

  #sub-main-header {
    font-size: 32px;
    line-height: 44px;
    font-family: 'Inter', sans-serif;
    margin: 24px 0;
  }

  .main-paragraph {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    line-height: 32px;
    margin: 24px 0;
  }

  #hr-mob {
    display: none;
  }

  #hr-desk {
    display: block;
    height: 1px;
    width: 90%;
    margin: 0 5%;
    align-self: center;
    background-color: #212121;
  }

  .work-popup h3 {
    height: 50px;
    font-family: 'Crete Round', sans-serif;
    font-weight: normal;
  }

  .work-popup p {
    line-height: 4vh;
    margin-top: 0;
  }

  .work-popup img {
    width: 60%;
  }

  #works {
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
  }

  #works-title {
    white-space: nowrap;
    margin: 0;
  }

  #multipost {
    display: flex;
  }

  #multipost-text {
    margin-left: 24px;
  }

  #multipost img {
    width: 56%;
  }

  #multipost h3 {
    margin-top: 0;
  }

  #multipost p {
    font-size: 20px;
    line-height: 28px;
  }

  #multipost ul {
    margin: 12px 0;
  }

  #works-grid {
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 24px;
    grid-row-gap: 37px;
  }

  #works-grid article {
    background-size: cover;
    height: auto;
    min-height: 435px;
  }

  #about-me {
    background-image: url(./images/Frame2.png);
    background-position: right 99px;
    background-repeat: no-repeat;
  }

  #about-me-main {
    width: 42%;
    margin-left: 10%;
    height: 591px;
  }

  #about-me-main h1 {
    margin: 0;
  }

  #about-line {
    width: 80%;
    margin: 0 10%;
  }

  #about-me-skills {
    height: 604px;
    margin-left: 10%;
    margin-right: 10%;
  }

  #skills-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10%;
  }

  .skills-type {
    justify-content: flex-start;
  }

  .skills-list {
    align-items: flex-start;
  }

  #contact-form {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 130px;
    min-height: 484px;
    margin-left: 10%;
    margin-right: 10%;
  }

  #contact-form p {
    width: 40%;
    font-size: 40px;
    font-weight: bold;
    line-height: 52px;
    color: #262626;
  }

  #contact-form button {
    align-self: flex-start;
  }

  form {
    width: 55%;
  }

  #footer-line {
    display: none;
  }

  #outer-div {
    flex-direction: row;
    align-items: flex-start;
    margin-top: 48px;
    gap: 2%;
    height: auto;
  }

  #inner-div {
    align-self: stretch;
    flex: 1;
  }

  #popup-buttons {
    justify-content: flex-start;
    gap: 14px;
  }

  .work-popup {
    padding: 25px 2%;
  }
}
